In [1]:
import requests

In [2]:
url = 'https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/'

In [3]:
covid_data = requests.get(url)
# print(covid_data.content)

In [4]:
from bs4 import BeautifulSoup as soup

In [5]:
covid_soup = soup(covid_data.text, "html.parser")
# print(covid_soup)

In [6]:
covid_soup.h1

In [7]:
tables = covid_soup.findAll('table', {})
print(len(tables))

1

In [8]:
covid_table = tables[0]

In [9]:
headers = covid_table.findAll('th', {})
print(len(headers))

4

In [10]:
column_titles = [ct.text for ct in headers]
print(column_titles)

['Country', 'Cases', 'Deaths', 'Region']

In [11]:
rows_data = covid_table.findAll('tr', {})[1:]
print(len(rows_data))
# print(rows_data)

218

In [12]:
first_row = rows_data[0].findAll('td', {})
for d in first_row:
    print(d.text)

United States
11,226,218
251,256
North America

In [13]:
table_rows = []
for row in rows_data:
    column_rows = []
    row_data = row.findAll('td', {})
    for idx, data in enumerate(row_data):
        if idx == 1 or idx == 2:
            s = data.text
            s = s.replace(',', '')
            column_rows.append(s)
        else:
            column_rows.append(data.text)
    table_rows.append(column_rows)

In [14]:
print(len(table_rows))

218

In [15]:
filename = 'covid.csv'

In [16]:
with open(filename, 'w', encoding = 'UTF-8') as f:
    header_string = ','.join(column_titles)
    header_string += '\n'
    f.write(header_string)
    
    for row in table_rows:
        row_string = ','.join(row)
        row_string += '\n'
        f.write(row_string)

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('covid.csv')

In [19]:
df.head(n=10)

          Country     Cases  Deaths         Region
0   United States  11226218  251256  North America
1           India   8814902  129674           Asia
2          Brazil   5848959  165673  South America
3          France   1954599   44246         Europe
4          Russia   1925825   33186         Europe
5           Spain   1492608   40769         Europe
6  United Kingdom   1344356   51766         Europe
7       Argentina   1304846   35307  South America
8        Colombia   1191004   33829  South America
9           Italy   1144552   44683         Europe

In [20]:
print(df.iloc[3][2])

44246

In [21]:
print(df.iloc[5][3])

Europe